* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: #000;
	color: #fff;
}
#wrapper {
	background-size: cover;
	font-family: "Roboto", helvetica, arial;
	font-size: 30px;	
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
}
svg {
	display: block;
	margin: auto;
}
small {
	font-size: 12px;
}
