body {
	background: rgb(91,200,221);
}
#wrapper {
	background: url(../imagens/backgrounds/background.png) center no-repeat fixed;
	background-size: cover;
	font-family: "Roboto", helvetica, arial;
	font-size: 10px;	
	text-align: center;
}
h2,h3 {
	font-family: "Montserrat", helvetica, arial;
	font-weight: bold;
}
h2 {
	font-size: 3.5em;
	letter-spacing: 10px;
	padding-bottom: 50px;
}
p, ul li {
	font-family: "Roboto", helvetica, arial;
	font-size: 1.4em;
}
section {
	padding: 60px 0;
}
/*Hides nav heading*/
h1, #mainMenu h2 {
	position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important; 
    width: 1px !important; 
    overflow: hidden;
}
/*Menu*/
#mainMenu { 
	position: fixed;
	right: 20px;
	top: 50%;
	bottom: 50%;
	z-index: 1000;
}
#mainMenu ul {
	list-style: none;
}
#mainMenu ul li { 
	margin-bottom: 10px;
}
#mainMenu ul li a {
	color: green;
	font-weight: bold;
}
#mainMenu ul li a:hover .menuDot {
	background-color: yellow;
}
#mainMenu ul li a span { 
	font-size: 0;
}
#mainMenu ul li a:hover span {
	font-size: 14px;
}
.menuDot {
	background-color: #7f5e35;
	border: solid 2px #000; 
	border-radius: 50%;
	float: right;
	height: 15px;
	margin-left: 10px;
	width: 15px;
}
.activeLink {
	background-color: green;
}
#mobileMenuIcon {
	display: none;
}
/*End Menu*/

/*Top*/
#intro {
	color: #fff;
	text-align: center;
	padding: 17% 0;
}
#headline {
	font-family: "Roboto", helvetica, arial;
	font-size: 2em;
	font-weight: normal;
	margin: 0 auto;
	max-width: 100%;
	padding-top: 20px;
	width: 60%;
}
/*End Top*/

/*Positions*/
#positions, .transition, #about, footer {
	background-color: #ffffff;
	text-align: center;
}
#positions .fa {
	color: #0f693f;
	font-size: 50px;
}
/*End Positions*/

#frontEnd img, #games img{
	width: 100%;
	z-index: 999;
}
#frontEnd .row div, #games .row div {
	padding: 0;
}
#fontEndHiddenBlock, #gamesHiddenBlock {
	display: none;
}
.seeMoreBtn {
	background: none;
	border: none;
	color: #fff;
	font-size: 1.6em;
	margin-top: 40px;
}
.seeMoreBtn:focus {outline:0;}
.transition p {
	font-size: 3em;
	font-weight: bold;
	padding: 100px 0;
}

/*Knowledge*/
#knowledge .row div:nth-child(1) .knowledgeBlock {
	background-color: #3399bb;
}
#knowledge .row div:nth-child(2) .knowledgeBlock {
	background-color: #ffff00
}
#knowledge .row div:nth-child(3) .knowledgeBlock {
	background-color: #00bb11;
}
#knowledge .row div {
	height: 300px;
}
#knowledge ul {
	list-style: none;
	padding: 0;
}
#knowledge ul li, #knowledge p {
	font-weight: bold;
	margin-bottom: 10px;
}
/*End Knowledge*/
#about {
	text-align: left;
}
#about h2{
	margin-left: 300px;
	padding-bottom: 0;
}
#about p {
	margin-top: 50px;
}
#about h3 {
	background: url(../imagens/icones/hero.png) no-repeat left;;
	margin: 200px 0 50px 0;
	padding-left: 35px;
}
#social {
	list-style: none; 
}
#social li {
	display: inline-block;
	padding: 0 10px;
}
#social li:last-child {
	border: none;
	margin-right: 0;
}
#social li a {
	padding-left: 15px;
}
#social li:nth-child(1) {
	background: url(../imagens/icones/linkedin.png) no-repeat left;
}
#social li:nth-child(2) {
	background: url(../imagens/icones/codepen.png) no-repeat left;
}
#social li:nth-child(3) {
	background: url(../imagens/icones/github.png) no-repeat left;
}
#social li:nth-child(4) {
	background: url(../imagens/icones/cv.png) no-repeat left;
}
footer {
	background: none;
	color: #fff;
	padding: 20px 0;
	text-align: center;
}
/*fix for fixed background on mobile*/
body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url(../imagens/backgrounds/background.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media only screen and (max-width: 1000px) {
	/*Menu*/
	#mainMenu { 
		background-color: #ffffff;
		border-bottom: solid 1px #0f693f;
		top: 0;
		height: 50px;
		right: 0;
		width: 100%;
	}
	#mainMenu ul {
		display: none;
		margin-top: 50px;
	}
	#mainMenu ul li { 
		background-color: #ffffff;
		border-bottom: solid 1px #0f693f; 
		margin-bottom: 0;
		padding: 10px 0 10px 30px;
		text-align: left;
	}
	#mainMenu ul li a {
		color: #0f693f;
	}
	#mainMenu ul li a span { 
		font-size: 1.4em;
	}
	#mainMenu ul li a:hover span {
		font-size: 1.4em;
	}
	.menuDot {
		display: none;
	}
	#mobileMenuIcon {
		display: block;
		position: absolute;
		right: 10px;
		top: 10px;
	}
	#logo {
		width: 80%;
	}
}
@media only screen and (max-width: 470px) {
	h2 {
		letter-spacing: 0;
	}
	#logo {
		margin-top: 100px;
		width: 100%;
	}
	#headline {
		font-size: 1.4em;
		width: 100%;
	}
	#about img {
		margin-bottom: 50px;
		width: 100%;
	}
	#about h2 {
		margin-left: 0;
		text-align: right;
	}
}