* {
	margin: 0;
	padding: 0;
}
html {
	font-size: 10px;
}
#wrapper {
	font-family: "Roboto", helvetica;
	
	margin: 0 auto;
	max-width: 1920px;
	width: 100%;
}
section {
	padding: 150px 0 125px 0;
}
h2 {
	font-weight: bold;
	letter-spacing: 10px;
	margin-bottom: 70px;
	text-align: center;
}
ul {
	list-style: none;
}
/*Navigation*/
nav {
	text-transform: uppercase;
}
#topScreenMenu { 
	background-color: #32338e;
	border-bottom: solid 2px #ffc709;
	display: none;
	height: 60px;
	padding-top: 10px;
	position: fixed;
	top: 0;
	z-index: 1000;
	width: 100%;
}
#topScreenMenu a img {
	width: 150px;
}
#topScreenMenu ul {
	margin-top: 10px;
}
.hidden {
	display: none;
}
#mainMenu {
	border-bottom: solid 2px yellow;
	border-radius: 10px;
	line-height: 24px;
	margin: 0 auto;
	padding: 10px 0 3px 0;
	text-align: center;
	max-width: 800px;
	width: 100%;
	z-index: 1000;
}
#mainMenu ul li, #topScreenMenu ul li {
	border-right: solid 2px #fff;
	display: inline-block;
}
#mainMenu ul li a, #topScreenMenu ul li a {	
	color: #fff;
	font-family: "Montserrat", helvetica;
	font-size: 1.4em;
	font-weight: normal;
	padding: 0 20px;
}
#topScreenMenu ul li a {
	font-size: 1em;
}
#mainMenu ul li a:hover, #topScreenMenu ul li a:hover {
	text-decoration: underline;
}
#mainMenu ul li:last-child, #topScreenMenu ul li:last-child {
	border-right: none;
}

#topScreenMenu .activeLink {
	color: #ffc315;
	text-decoration: underline;
}
/*end Navigation*/
/*MobileMenu*/
#mobileMenuIcon {
	display: none;
	margin-top: 5px;
}
/*end MobileMenu*/

/*TopSection*/
/*Hides nav heading*/
#topSection h1, #topSection #topScreenMenu h2, #topSection #mobileMenu h2, #topSection #mainMenu h2 {
	position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important; 
    width: 1px !important; 
    overflow: hidden;
}
#topSection {
	background: #32338e url(imagens/backgrounds/bg.jpg) center no-repeat fixed;
	background-size: cover; 
}
.content {
	margin: 0 auto;
	max-width: 640px;
	text-align: center;
	width: 100%;
}
#logo {
	margin-top: 150px;
	max-width: 436px;
	width: 80%;
}
#topSection .content p {
	color: #fff;
	font-size: 1.4em;
	margin: 50px 0;
	font-family: "Myriad Pro";
}
#topSection .content a img {
	width: 220px;
}
/*end topSection*/

/*funcionalidades*/
.block {
	margin-bottom: 105px;
	text-align: center;
}
.block p {
	font-size: 1.2em;
	margin-top: 20px;
}
.block span {
	color: #32338e;
	font-size: 4em;
}
/*end funcionalidades*/

/*carousel*/
#carousel {
	background: #32338e url(imagens/backgrounds/interface-bg.jpg) fixed;
	background-size: cover;
	color: #fff;
}
h3 {
	font-size: 2.5em;
	font-weight: bold;
}
#carousel p {
	font-size: 1.2em;
	line-height: 40px;
	margin-top: 30px;
}
.item {
	padding: 0 150px;
}
#carousel .item p {
	float: left;
	width: 45%;
}
#carousel .item img {
	float: right;
}
.item img {
	margin-bottom: 100px;
}
#myCarousel ol {
	bottom: 0;
}
.carousel-indicators li {
	background-color: #bbbbbb;
	height: 15px;
	width: 15px;
}
.carousel-indicators .active {
	background-color: #ffc607;
	height: 15px;
	width: 15px;
}
/*end carousel*/

/*cursos*/
#cursos ul {
	text-align: center;
}
#cursos ul li {
	font-size: 1.5em;
	margin-bottom: 20px;
}
/*End cursos*/

/*Reviews*/
#reviews {
	background: #32338e url(imagens/backgrounds/review-bg.jpg) center no-repeat fixed;
	background-size: cover;
	color: #fff;
}
.reviewContainer {
	max-width: 800px;
	width: 100%;
}
.reviewContainer header {
	height: 48px;
	margin-bottom: 20px;
	width: 100%;
}
.reviewContainer header h3 {
	line-height: 48px;
	margin-left: 60px;
}
.reviewContainer header img {
	float: left;
}
#reviews .row:nth-child(2) .reviewContainer {
	float: right;
}
#reviews .row:nth-child(2) .reviewContainer header img {
	float: right;
}
#reviews .row:nth-child(2) .reviewContainer header h3 {
	margin-left: 0;
	margin-right: 60px;
	text-align: right;
}
.reviewContainer p {
	font-size: 1.2em;
}
/*End reviews*/

/*baixeAgora*/
#baixeAgora {
	padding: 20px 0;
	text-align: center;
}
#baixeAgora h2 {
	margin-bottom: 10px;
}
#baixeAgora a img {
	width: 220px;
}
/*End baixeAgora*/

/*Footer*/
footer {
	background-color: #fff;
	color: #666;
	padding: 10px 0;
	text-align: center;
}
/*End footer*/
#complementaryContent {
	background: url(imagens/backgrounds/complement-bg.jpg) bottom no-repeat fixed;
	background-size: cover;
	padding: 80px 0;
}
#complementaryContent h2 {
	font-weight: lighter;
	letter-spacing: 5px;
}
/*MEDIA*/
@media only screen and (max-width: 960px) {
	section {
		padding: 50px 0;
	}
	#logo {
		margin-top: 50px;
	}
	#topScreenMenu .container {
		padding: 0;
	}
	#mainMenu {
		display: none;
	}
	#topScreenMenu, #mobileMenuIcon {
		display: block;
	}
	#topScreenMenu .container {
		margin: 0;
		padding: 0 30px;
		width: 100%;
	}
	#topScreenMenu ul {
		background-color: #32338e;	
		display: none;
		left: 0;
		height: auto;
		margin-top: 5px;	
		position: fixed;
		top: 55px;
		z-index: 100;
		width: 100%;
	}
	#topScreenMenu ul li {
		border-bottom: solid 2px #ffc709;
		border-right: none;
		display: block;
		height: 40px;
		width: 100%;
	}
	#topScreenMenu ul li a {
		color: #fff;
		font-size: 14px;
		font-weight: bold;
		line-height: 40px;
		margin-left: 35px;	
		padding: 0;	
		text-decoration: none;	
	}
	#topSection {
		padding-top: 50px;
	}
	#myCarousel .item {
		padding: 0;
		width: 100%;
	}	
}
@media only screen and (max-width: 740px) {
	h2 {
		letter-spacing: 0;
	}
	#reviews .row:nth-child(2) .reviewContainer {
		float: none;
	}
	#reviews .row:nth-child(2) .reviewContainer header img {
		float: left;
	}
	#reviews .row:nth-child(2) .reviewContainer header h3 {
		margin-left: 60px;
		margin-right: 0;
		text-align: left;
	}
}
@media only screen and (max-width: 580px) {
	#carousel {
		padding-bottom: 125px;
	}
	#myCarousel .item p {
		width: 40%;
	}
	#myCarousel .item img {
		width: 40%;
	}
	#myCarousel ol {
		bottom: -80px;
	}
}
@media only screen and (max-width: 450px) {
	#myCarousel .item p {
		line-height: 20px;
		width: 100%;
	}
	#myCarousel .item img {
		float: none;
		margin: 0 auto;
	}
	#myCarousel ol {
		left: 25%;
		width: 100%;
	}
}