* {
	margin: 0;
	padding: 0;
}
nav, header, footer, section, article, aside, hgroup {
	display: block;
}
body {
	background-image: url("bodyBackground.jpg");
}
#wrapper {	
	width: 100%;	
}
#pageHeader {	
	height: 35px;
	padding: 1%;
	width: 98%;
}
#pageHeader h1 {
	color: #ffffff;
}
#pageHeader h1 a {
	color: #ffffff;
	text-decoration: none;
}
#videoContent {
	background-color: rgba(122, 122, 82, .2);
	float: right;
	height: 500px;
	padding: 2% 5%;
	width: 1200px;
}
#videoContentHeader {
	width: 100%;
}
#videoContentHeader h2 {
	border-bottom: solid 1px #dddddd;
	color: #ffffff;
	margin-bottom: 20px;
}

#videoDescription {	
	float: left;
	height: auto;
	margin-left: 20px;
	padding: 0 10px;
	width: 300px;
}
#videoDescription h3 {
	border-bottom: solid 1px #dddddd;
	color: #666666;
}
#videoDescription p {
	color: #ffffff;
	text-align: justify;
}

#playlist {
	background-color: rgba(122, 122, 82, .2);
	float: left;
	height: 500px;
	margin-left: 10px;
	overflow: auto;
	padding: 2%;
	width: 20%;
}
#playlist ul {
	list-style: none;
}
#playlist ul li {
	display: block;
	margin-bottom: 15px;
}
#playlist ul li:before, #playlist ul li:after {
	content: "";
	display: table;
	clear: both;
}
#playlist ul li:hover {
	cursor: pointer;
}
#playlist ul li img {
	float: left;
	height: 80px;
	margin-right: 5px;
	width: 150px;
}
#playlist ul li figcaption {
	color: #ffffff;
	font-size: 15px;
}
#pageFooter {
	background-color: #222222;
	clear: both;
	height: auto;
	padding: 10px 0;
	text-align: center;
	width: 100%;
}
#pageFooter span {
	color: #cccccc;
	font-size: 12px;
}




/*----------------------------
		Video Customization
----------------------------*/
#videoContainer {
	background-color: black;	
	float: left;
	height: 460px;	
	position: relative;
	width: 800px;	
}
#customVideoPlayer {
	height: 460px;
	width: 800px;
}

#videoControlsContainer {
	bottom: 0;
	height: 45px;
	position: absolute;
	width: 100%
}
#controlPanel:before, #controlPanel:after {
	content: "";
	display: table;
	clear: both;
}
#controlPanel {
	background-color: rgba(50,50,10,.5);	
	height: auto;
	padding: .5%;		
	width: 99%;
}	
#controlPanelButtons {	
	float: left;
	width: 150px;
}		
#controlPanel button {
	background-color: rgba(0,0,0,0);
	border: none;
	cursor: pointer;
	height: 30px;
	width: 30px;
	color: #ffffff;
	font-size: 20px;
}	
#timer {
	color: #ffffff; 
	float: left;		
	padding-top: 8px; 
	width: 80px;
}

#audioContainer {				
	float: right;		
	width: 170px;
} 
#volumeIcon {			
	color: #ffffff;
	cursor: pointer;
}
#volumeSlider {			
	cursor: pointer;
	display: none;
	width: 100px;				
	-webkit-appearance: none;	
	-moz-appearance: none;
}
#volumeSlider::-webkit-slider-thumb, #volumeSlider::-moz-range-thumb, #volumeSlider::-ms-thumb {
	background-color: #ffffff;
	border: 1px solid #bdc3c7;
	width: 15px;
	height: 15px;
	border-radius: 50%;
}
#volumeSlider::-ms-track {
	cursor: pointer;
	display: none;
	width: 100px;
}
#volumeSlider::-ms-fill-lower,
#volumeSlider::-ms-fill-upper {
	background: transparent;
}
#audioContainer:hover #volumeSlider {
	display: inline;
}		
#buffer {						
	height: 5px;			
	width: 100%;
}
#videoProgressBar {
	background-color: #ff1100;
	height: 5px;
	width: 0%;
}
/*----------------------------
	End	Video Customization
----------------------------*/

@media screen and (max-width: 1600px) {
	#videoContent {
		float: none;
		width: 90%;
	}
	#playlist {		
		float: none;	
		margin: 10px 0;
		width: 96%;
	}
	#playlist ul li {
		display: inline-block;
		margin: 0 .5% 20px 0;
	}
}
@media screen and (max-width: 1300px) {
	#videoContent {
		display: block;
		height: auto;
	}
	#videoContainer {
		display: block;
		float: none;
		margin: 0 auto;
		width: 800px;
	}
	#videoDescription {
		float: none;
		padding: 0;
		margin: 10px auto;
		width: 800px;
	}
	#playlistVideos {
		text-align: center;
	}
}
@media screen and (max-width: 880px) {
	#videoContainer {		
		height: auto;			
		width: 100%;	
	}
	#customVideoPlayer {
		height: auto;
		width: 100%;
	}
	#audioContainer {
		display: none;
	}
	#videoDescription {
		width: 100%;
	}
}
@media screen and (max-width: 600px) {
	#pageHeader {
		height: auto;
		padding: 20px 1%;
	}
	#pageHeader h1 {
		font-size: 24px;
	}
}